*{
    background-color: black;
    color: aliceblue;
}

button{
    border: 2px white;
    background-color: aliceblue;
    color: black;
    border-radius: 12px;
    font-size: 25px;
    justify-content: center;
    margin-right: 60px;
}

button:hover{
    background-color: yellow;
}

.content{
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.book{
    text-align: center;
}
.book:hover{
    background-color: black;
}
.search_bar{
    text-align: center;

}
.move_msg{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: black;
}
